<nav class="navbar navbar-expand-lg navbar-light" (scroll)="onWindowScroll($event)">
  <a class="navbar-brand" href="#" data-aos="fade-down" data-aos-duration="1000">
    <img src="../../assets/images/Logo.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item " data-aos="fade-down"data-aos-duration="1000">
        <a class="nav-link"href="#">COVID-19</a>
      </li>
    
      <li class="nav-item dropdown" data-aos="fade-down" data-aos-duration="1000">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          ABOUT
        </a>
        <div class="dropdown-menu animate slideIn" 
          aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">STAFF</a>
          <a class="dropdown-item" href="#">OFFICE</a>
        </div>
      </li>
       <li class="nav-item dropdown" data-aos="fade-down" data-aos-duration="1000">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
           PATIENT
         </a>
         <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="#">INSURANCE</a>
           <a class="dropdown-item" href="#">MEMBERSHIP</a>
         </div>
       </li>
        <li class="nav-item " data-aos="fade-down" data-aos-duration="1000">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
        <li class="nav-item" data-aos="fade-down" data-aos-duration="1000">
          <button class="btn main-btn">BOOK NOW</button>
        </li>
    </ul>
    
  </div>
</nav>
