

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="footer-data-section">
            <ul class="data-wrapper">
                <li class="footer-data-title"> INFO</li>
                <li class="footer-item" ><a href=""> About</a></li>
                <li class="footer-item" ><a href="">Contact</a></li>
                <li>
                    <button type="button"class="btn main-btn">book an appoinment</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="footer-data-section">
            <ul class="data-wrapper">
                <li class="footer-data-title"> SERVICES</li>
                <li class="footer-item"><a href=""> Restorative</a></li>
                <li class="footer-item"><a href="">Preventative</a></li>
                <li class="footer-item"><a href="">Cosmetic</a></li>
                <li class="footer-item"><a href="">Invisalign</a></li>
                <li class="footer-item"><a href="">Whitening</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="footer-data-section">
            <ul class="data-wrapper">
                <li class="footer-data-title"> ADDRESS + CONTACT</li>
                <li class="footer-item"><a href="mailto:hello@zendentalsf.com"> hello@zendentalsf.com</a></li>
                <li class="footer-item"><em>254 5th Street<br>San Francisco<br>CA 94103</em></li>
                <li class="footer-item"><a href=""></a></li>
            </ul>
             <div class="social-media">
               <a href="" class="media-item"><i class="fa fa-facebook"></i></a>
               <a href="" class="media-item"><i class="fa fa-instagram"></i></a>
             </div>
    </div>
</div>
