<carousel [isAnimated]="true" [showIndicators]="false">
  <slide>
    <div class="data-wrapper d-flex align-content-center">
      <div class="image-box">
          <img src="../../assets/images/person1.jpg" alt="">
      </div>
      <div class="text-box">
        <p class="name">Vanessa C.</p>
        <p class="words">The staff from receptionist to hygienist to doctor were all so lovely, warm, attentive,
          helpful and took
          time to explain everything thoroughly. Highly recommend this office for dental needs!</p>
      </div>
    </div>
  </slide>
  <slide>
    <div class="data-wrapper d-flex align-content-center">
      <div class="image-box">
          <img src="../../assets/images/person2.jpg" alt="">

      </div>
      <div class="text-box">
        <p class="name">Shuting G.</p>
        <p class="words">This is the first time I visited the studio and it’s actually a well-designed place, very
          modern and
          elegant and clean! The dentists are friendly and professional and the space feel relaxed (because you get to
          lie down watching Netflix!) visits to the dentist usually don’t mean good news but I would definitely
          recommend this studio</p>
      </div>
    </div>
  </slide>
  <slide>
    <div class="data-wrapper d-flex align-content-center">
      <div class="image-box">
          <img src="../../assets/images/person3.jpg" alt="">

      </div>
      <div class="text-box">
        <p class="name">Jeff G.</p>
        <p class="words">I’m primarily writing this because I was running late to my first appointment and things
          couldn’t have gone
          better when I arrived . All the staff was extremely kind, calm, and friendly. The hygienist as well as the
          doctor was professional and explained everything in an understandable way. I highly recommend this place.</p>
      </div>
    </div>
  </slide>
</carousel>
