
<h1 class="sub-title" data-aos="fade-right" data-aos-duration="1000">Our Patients</h1>
<p class="content" data-aos="fade-left" data-aos-duration="1000">Because we believe so deeply in the transformative
  power of a smile, we strive to ensure access to exceptional care for
all clients, with and without insurance. Our guiding principle is to treat everyone with respect and compassion, working
together to help you shine </p>

<button type="button" class=" btn main-btn" data-aos="fade-up" data-aos-duration="1000">Accepted insurances and
  membership plans</button>