
<h1 class="sub-title" data-aos="fade-right">Our Services</h1>
<p class="content"data-aos="fade-right" data-aos-duration="1000">At Zen Dental Studio, nothing is more important than the highest quality of care. From state-of-the-art equipment to
  regular doctor training, our team remains at the forefront of modern dentistry. We incorporate the latest medical
  developments to ensure our patients’ care is fast, painless, and effective. </p>

  <div class="service-offered">
      <div class="label-text">service Offered</div>
      <div class="row">
          <div class="col-lg-6">
              <div class="service-item"data-aos="fade-up">
                  Restorative
              </div>
          </div>
          <div class="col-lg-6">
            <div class="service-item" data-aos="fade-up" data-aos-duration="1000">Invisalign</div>
            </div>
          <div class="col-lg-6">
            <div class="service-item" data-aos="fade-up" data-aos-duration="1000">Preventative</div>
            </div>
          <div class="col-lg-6">
            <div class="service-item"data-aos="fade-up" data-aos-duration="1000">Whitening</div>
            </div>
          <div class="col-lg-6">
            <div class="service-item"data-aos="fade-up" data-aos-duration="1000">Cosmetic</div>
            </div>
      </div>
  </div>