<accordion [isAnimated]="true">
  <accordion-group heading="Transparency">
   The best patient is an educated patient. You deserve full transparency, so we carefully explain each treatment every
   step of the way.
<br><br>
   We'll make sure you know why you are being prescribed a treatment and the precise cost of every procedure before it
   begins. Your treatment doesn't end until you are fully satisfied with the care you've received.
  </accordion-group>
  <accordion-group heading="Excellence">
    <p>You deserve exceptional dental care, so we tackle every treatment with our full attention and expertise. Our
      state-of-the-art dental equipment allows us to better diagnose your specific needs, and treat them quickly and
      painlessly.
      <br><br>
      And you'll be in good hands. Our doctor completes over 100 hours of additional training each year, perfecting her
      skills and incorporating the latest developments in dental medicine</p>
  </accordion-group>
  <accordion-group heading="Service">
    <p>A trip to the dentist’s office should be a source of serenity, not anxiety.
      <br><br>
      We’ve cut out the paperwork and streamlined the entire dentist experience. Book your appointments and complete
      your forms online. You can check in on an iPad when you arrive, and receive a clearly itemized invoice before your
      leave.
<br><br>
      Need an escape during your treatment? Watch Netflix or Hulu while we work our magic.</p>
  </accordion-group>
  <accordion-group heading="Mindfulness">
    <p>Beautiful smiles begin on the inside, which is why our commitment to exceptional dentistry demands we honor your
      soul as well.
<br><br>
      We have designed a space to serve as an oasis of escape, with modern design, a matcha tea station, as well as a
      meditation cell to help you achieve mindfulness and tranquility.</p>
  </accordion-group>
</accordion>