

$poppins:'Poppins',sans-serif;
$roboto: 'Roboto', sans-serif;
$primary:#ba812e;
$primary-light: rgb(186 129 46 / 0.5);
$title-color:#1f1f1f;
$text-color:#3a4145;
$text-light:#3a414580;
$white:#fff;
$black:#000;