@import '~src/scss/_variables';

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

.hero-banner {
  min-height: 100vh;
  background-image: url('../../assets/images/5f754bc5e4eaf.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .hero-banner-content-wrapper {
    margin-top: 50px;
  }

  .title {
    font-size: 54px;
    max-width: 600px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: $poppins;

    @media screen and (max-width:767px) {
      font-size: 40px;
    }
  }

  .sub-text {
    font-size: 24px;
    font-family: $poppins;
    color: $text-light;
    font-weight: 500;
    margin-bottom: 50px;

    @media screen and (max-width:767px) {
      font-size: 20px;
      color: #212529;
      margin-bottom: 20px;

    }
  }


}

.text-image-section {
  padding: 80px 50px;
  overflow: hidden;

  @media screen and(max-width:600px) {
    padding: 50px 50px 20px 50px;
  }

  .text-image-wrapper {
    align-items: center;

    .image-wrapper {
      border-radius: 4px;
      overflow: hidden;

      @media screen and (max-width:600px) {
        margin-bottom: 15px;
      }
    }

    .text-wrapper {
      position: relative;
      left: -60px;
      font-size: 20px;
      color: $text-color;
      line-height: 1.8;

      @media screen and (max-width:1023px) {
        left: 0;
      }

      strong {
        color: $title-color;
        font-size: 20px;
      }

    }
  }
}


// accordion section

.accordion-section {
  padding: 50px;
  overflow: hidden;

  .row {
    @media screen and (max-width:767px) {
      flex-direction: column-reverse;
    }
  }

  .card {
    margin-bottom: 5px;
  }

  .image-wrapper {
    border-radius: 4px;
    overflow: hidden;

    @media screen and (max-width:767px) {
      margin-bottom: 15px;
    }
  }
}

// services and patients
.service-patients-section {
  position: relative;
  background-image: url('../../assets/images/21014.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(225, 225, 225, 0.8);
  }

  .section-wrapper {
    position: relative;
    z-index: 2;

  }
}

// carousel



.questions {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;

  @media screen and (max-width: 600px) {
    margin-bottom: 0;
  }

  p {
    font-size: 24px;
    font-family: $roboto;
    font-weight: 400;
    font-style: italic;
  }
}

// map

.map-section {
  height: 400px;
  overflow: hidden;
  cursor: pointer;

  img {
    height: 100%;
    object-fit: cover;
  }
}
