
<!-- navbar -->

<div class="header">
  <app-header></app-header>
</div>

<!-- hero banner  -->

<div class="hero-banner wrapper">
  <div class="hero-banner-content-wrapper">
    <h1 class="title" data-aos="fade-up" data-aos-duration="1000">Where your smile means more.</h1>
    <p class="sub-text" data-aos="fade-up" data-aos-duration="1000">Treat your smile, treat your soul.</p>
    <button type="button" data-aos="fade-up" data-aos-duration="1000" class=" btn main-btn"> book an
      appointment</button>
  </div>
</div>


<div class="text-image-section">
  <div class="row text-image-wrapper">
    <div class="col-lg-6">
      <div class="image-wrapper" data-aos="fade-right" data-aos-duration="1000">
        <img src="../../assets/images/image3.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-6">
        <div class="text-wrapper" data-aos="fade-left" data-aos-duration="1000">
            At <strong>Zen Dental Studio</strong>, we believe a beautiful smile starts from within. Equipped with latest
            technology, our
            expert staff provides exceptional dental care within a space designed for personal rejuvenation and renewal.
        </div>
    </div>
  </div>
</div>

<!-- accordion section -->
<div class="accordion-section">
   
    <h1 class="sub-title" data-aos="fade-up" data-aos-duration="1000">Our Values</h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="accordion-wrapper" data-aos="fade-right" data-aos-duration="1000">
                 <app-accordion></app-accordion>
            </div>
        </div>
         <div class="col-lg-6">
          <div class="image-wrapper" data-aos="fade-left" data-aos-duration="1000">
              <img src="../../assets/images/image2.jpg" alt="">
          </div>
         </div>
    </div>
</div>

<!-- services & Patients -->

<div class="wrapper service-patients-section">
 <div class="row section-wrapper">
   <div class="col-lg-6 service-section">
     <div class="service-wrapper">
       <app-our-services></app-our-services>
     </div>
   </div>
   <div class="col-lg-6 patient-section">
     <div class="patients-wrapper">
       <app-patients> </app-patients>
     </div>
   </div>
 </div>
</div>

<!-- Carousel Section -->

<div class="wrapper carousel-wrapper">
  <h1 class="sub-title" data-aos="fade-left" data-aos-duration="1000">KIND WORDS FROM OUR PATIENTS</h1>
 <div class="carousel" data-aos="fade-right" data-aos-duration="1000">
    <app-carousel></app-carousel>
 </div>
</div>

<div class="wrapper" data-aos="fade-up">
  <div class="questions">
    <p >Have questions before you book an appointment?
      We’re happy to answer your questions.</p>
      <button type="button" class="btn main-btn">get in
        touch</button>
  </div>
</div>

<div class="map-section">
<a  href="https://www.google.ca/maps/place/Zen+Dental+Studio/@37.7807475,-122.4042587,15z/data=!4m5!3m4!1s0x0:0x5f9da75674f69e7a!8m2!3d37.7807475!4d-122.4042587">
  <img src="../../assets/images/map-desktop.jpg" alt=""></a>
</div>

<!-- footer section -->
<div class="wrapper footer">
  <div class="footer-section">
    <app-footer></app-footer>
  </div>
</div>